.container1{
    overflow:hidden;
    border-radius:10px 10px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  }
  
  table{
    font-family: 'Oswald', sans-serif;
    border-collapse:collapse;
  
  }
  
  th{
    background-color:#009879;
    color:#ffffff;
    width:25vw;
    height:75px;
    text-align: center;
  }
  
  td{
    background-color:#ffffff;
    width:25vw;
    height:50px;
    text-align:center;
  }
  

  
  tr:last-of-type{
    border-bottom: 2px solid #009879;
  }
  #logout{
    float: right;
}

@media screen and (min-width: 491px) and (max-width: 768px){
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  #logout{
    float: right;
}
}
@media screen and (min-width: 0px) and (max-width: 490px){

  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  #logout{
    float: right;
}
}